body{
  margin: 0;
  padding: 0;
  background-color: #F6F6F6;
}

/* NAVBAR */
.bagan .admin{
  display: flex;
  background-color: #3E4C59;
  box-shadow: 3px 3px 3px rgb(24, 24, 24);
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  color: white;
}

.bagan .admin img{
  margin-left: 20px;
  width: 100px;
  height: 100px;
}

.bagan .admin h2{
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 30px;
}

.dropdown{
  text-align: center;
  margin-right: 20px;
  font-size: 17px;
}

.dropdown-menu li a{
  text-decoration: none;
  text-align: center;
  color: black;
}

.dropdown-menu li:hover {
  background-color: rgb(241, 241, 241);
} 

.nav-item:hover .dropdown-menu {
  display: block;
  cursor: pointer;
}

/* CONTAINER */
.pilih{
  display: flex;
  justify-content: center;
  margin-top: 10%;
  align-items: center;
  flex-direction: column;
}

.pilihan{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
}

img{
  align-items: center;
  height: 220px;
  width: 250px;
}

.pilihan .link{
  text-decoration: none;
  color: white;
}

.pilihan .box{
  background-color: #3E4C59;
  box-shadow:  3px 3px 3px rgb(180, 180, 180);
  border-radius: 10px;
}

.pilihan .box:hover{
  transform: scale(1.1);
  transition: all 0.5s;
  cursor: pointer;
}

/* RESPONSIVE */
@media screen and (max-width: 796px){
  .bagan .admin{
    box-shadow: 1px 1px 1px black;
  }

  .bagan .admin img{
    margin-left: 10px;
    top: 10px;
    width: 80px;
    height: 80px;
  }

  .bagan .admin h2{
    font-size: 25px;
    margin-left: 4rem;
  }

  .bagan .log h3{
    font-size: 15px;
    padding-right: 60px;
  }

  .bagan .log img{
    height: 25px;
    width: auto;
  }

  /* CONTAINER */

  .pilihan{
    grid-template-columns: auto auto;
    margin: 50px;
    gap: 30px;
  }

  .pilihan .box{
    width: 150px;
    height: 200px;
    box-shadow: 1px 1px 1px black;
  }

  .pilihan .box .link{
    line-height: 20px;
    font-size: 13px;
  }

  .pilihan .box img{
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width:1000px){
  .pilihan{
    grid-template-columns: auto auto;
    margin: 50px;
    gap: 30px;
  }
}