.bagan{        
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 70%;
  margin: 20px;  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bagan .form{  
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.form .tmbh-news{
  display: flex;
  padding: 20px;
  gap: 8rem;
  border-radius: 10px;
}

.form .tmbh-news .input-news .details, .output .details{
  font-size: 20px;
  color: black;
}

.form .tmbh-news .input-news input, textarea{
  width: 100%;
  letter-spacing: 1px;
  color: black;
  line-height: 20px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 3px;
  padding: 3px;
}

.output{
display: flex;
flex-direction: column;
}

.output img{
    margin: 15px;
    width: 250px;
    height: 150px;
  }